body{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


#title_area{
    background-color: aquamarine;
    color: palevioletred;
    font-size: 30px;
    font-weight: bolder;
    text-align: center ;
}

#kentou{
    font-size: 200px;
    font-weight: bolder;
    text-align: center;
}

#plus1b{
    border: 1px solid black;
    background-color: azure;
    color: black;
    padding: 10px 10px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba darkgoldenrod;
    width: 100px;
    font-size: 20px;
    display: block;

}

#form5b{
    border: 1px solid black;
    background-color: azure;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba darkgoldenrod;
    width: 100px;
    font-size: 20px;
    display: block;
}

#fadd5b{
    border: 1px solid black;
    background-color: azure;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba darkgoldenrod;
    width: 200px;
    font-size: 20px;
    display: block;
}

#form100b{
    border: 1px solid black;
    background-color: azure;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba darkgoldenrod;
    width: 100px;
    font-size: 20px;
    display: block;
}

#fadd100b{
    border: 1px solid black;
    background-color: azure;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba darkgoldenrod;
    width: 200px;
    font-size: 20px;
    display: block;
}

#a1fb{
    border: 1px solid black;
    background-color: azure;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba darkgoldenrod;
    width: 200px;
    font-size: 20px;
    display: block;
}

#forma5{
    text-align: right;
}

#klog{
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

#amountK{
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}
